.container {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
}

.game-info-container {
  width: 30%;
  min-height: 100vh;
  background-color: #fff66b;
  border: 20px solid #e8e800;
  padding: 20px;
}

.map-container {
  width: 70%;
  border: 20px solid #50a8eb;
  background-color: rgba(80, 168, 235, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
